<p>
  <strong>Patient:</strong>
  <%= @patient_record.patient.name %>
</p>
<!-- Display other patient record details -->
<%= link_to 'Edit', edit_patient_record_path(@patient_record) %> |
<%= link_to 'Back', patient_records_path %>
